{:foo/handler nil
 :http-server/route-handler [["/foo" {:get #ig/ref :foo/handler}]]
 :http-server/server {:port #or [#env "HTTP_PORT" 8085]
                      :route-handler #ig/ref :http-server/route-handler}}
