{:root/handler nil
 :http-server/route-handler [["/" {:get #ig/ref :root/handler}]]
 :http-server/server {:port #or [#env "HTTP_PORT" 8085]
                      :route-handler #ig/ref :http-server/route-handler}}
