#merge [{:schema/find-request-parameters {}
         :schema/article-query-parameters {}
         :schema/find-response {}
         :schema/articles-response {}

         :services.db/spec {:dbtype "sqlite"
                            :dbname #profile {:default "shared/articles.db"
                                              :test "file:testdb?mode=memory&cache=shared"}}

         :services.db/ds #ig/ref :services.db/spec

         :services.db/migrate {:store :database
                               :migration-dir "migrations"
                               :db #ig/ref :services.db/spec}

         :services.db/execute! {:ds #ig/ref :services.db/ds}

         :services.db/execute-honey! {:execute! #ig/ref :services.db/execute!}

         :articles/insert! {:execute! #ig/ref :services.db/execute-honey!}

         :articles/search {:execute! #ig/ref :services.db/execute-honey!}

         :services.scopus/search-multiple
         {:search-keyword #ig/ref #profile {:default :services.scopus/search-keyword
                                            :test :mock.services.scopus/search-keyword}}

         :endpoints.find/handler
         {:scopus-find #ig/ref :services.scopus/search-multiple
          :insert-articles! #ig/ref :articles/insert!}

         :endpoints.articles/handler
         {:search #ig/ref :articles/search}

         :http-server/route-handler
         [["/find"
           {:get {:summary "Find and insert articles by keywords"
                  :parameters #ig/ref :schema/find-request-parameters
                  :responses {200 #ig/ref :schema/find-response}
                  :handler #ig/ref :endpoints.find/handler}}]
          ["/articles"
           {:get {:summary "Search articles in the database"
                  :parameters #ig/ref :schema/article-query-parameters
                  :responses {200 #ig/ref :schema/articles-response}
                  :handler #ig/ref :endpoints.articles/handler}}]]

         :http-server/server
         {:port #profile {:default #or [#env "HTTP_PORT" 8085]
                          :test #or [#env "TEST_HTTP_PORT" 8086]}
          :route-handler #ig/ref :http-server/route-handler}}
        #include #profile {:default "default_config.edn"
                           :test "test_config.edn"}]
